@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto-slab-latin-regular.woff") format("woff"),
    url("../fonts/roboto-slab-latin-regular.woff2") format(".woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-latin-regular.woff2") format(".woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-latin-italic.woff") format("woff"),
    url("../fonts/montserrat-latin-italic.woff2") format(".woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-latin-700.woff") format("woff"),
    url("../fonts/montserrat-latin-700.woff2") format(".woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-latin-700italic.woff") format("woff"),
    url("../fonts/montserrat-latin-700italic.woff2") format(".woff2");
  font-weight: 700;
  font-style: italic;
}
